<!-- ORIGINAL SCAFFOLD
  
  <%= form_for(subject) do |f| %>
  <% if subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :subject_name %>
    <%= f.text_field :subject_name %>
  </div>

  <div class="field">
    <%= f.label :subject_code %>
    <%= f.text_field :subject_code %>
  </div>

  <div class="field">
    <%= f.label :units %>
    <%= f.number_field :units %>
  </div>

  <div class="field">
    <%= f.label :day %>
    <%= f.text_field :day %>
  </div>

  <div class="field">
    <%= f.label :time_start %>
    <%= f.time_select :time_start %>
  </div>

  <div class="field">
    <%= f.label :time_end %>
    <%= f.time_select :time_end %>
  </div>

  <div class="field">
    <%= f.label :class_key %>
    <%= f.text_field :class_key %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

-->
<% if teacher_signed_in? %>
<%= form_for(subject) do |f| %>
  <% if subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :subject_name %><br />
    <%= f.text_field :subject_name, autofocus: true, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :subject_code %><br />
    <%= f.text_field :subject_code, autofocus: true, class: "form-control"%>
  </div>

  <div class="field">
    <%= f.label :section %><br />
    <%= f.text_field :section, autofocus: true, class: "form-control"%>
  </div>

  <div class="field">  
    <%= f.label :units %>
    <%= f.number_field :units, autofocus: true, class: "form-control"%>
  </div>

  <div class="field">
    <%= f.label :day %>
    <%= f.text_field :day, autofocus: true, class: "form-control"%>
  </div>

<!-- NEEDS FORMATTING -->
<div class="dropdown">
    <%= f.label :time_start %><br />
    <%= f.time_select :time_start %>
  </div>

 <!-- NEEDS FORMATTING --> 
<div class="dropdown">
    <%= f.label :time_end %><br />
    <%= f.time_select :time_end %>
  </div>

  <div class="field">
    <%= f.label :class_key %>
    <%= f.text_field :class_key, autofocus: true, class: "form-control" %>
  </div>


  <%= f.hidden_field :teacher_id, :value => current_teacher.id %>
 

  <div class="actions"><br />
    <%= f.submit class: "btn btn-success" %>
  </div>
<% end %>
<% else %>
  <%= render 'add_subject', subject: @subject %>
<% end %>