<div class="card-deck mb-3 mx-auto">

<% @subjects.each do |subject| %>
  <div class="card bg-light mb-3 " style="max-width: 30rem; min-width: 20rem">
    <div class="card-header bg-primary text-white h5"><br /><br />
      <%= subject.subject_code %>: <%= subject.subject_name %>
    </div>
    <div class="card-body">
      <div>Section: <%= subject.section %></div>
      <div>Units: <%= subject.units %></div>
      <div><%= subject.day %>: <%= subject.time_start.strftime("%H:%M:%p") %> - <%= subject.time_end.strftime("%H:%M:%p") %> </div>
      <div>Teacher: <%= subject.teacher.first_name %> <%= subject.teacher.last_name %></div>
      <!-- <div>Class Key: <%= subject.class_key %></div> -->
    </div>
    <div class="card-footer text-right">
      <%= link_to 'Show', subject, class: "btn btn-primary", style: "width: 5rem" %>
      <%= link_to 'Remove', subject, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger", style: "width: 5rem"%>
    </div>
  </div>
      <% end %>
 
<!-- NEW CLASS -->
<div class ="card bg-primary mb-3 " style="max-width: 30rem; min-width: 20rem; min-height:10rem">
 <div class="card-body ">
   <!-- EMPTY BODY -->
 </div>
<div class="card-footer text-white h5">
  <%= link_to 'Add Class', all_subjects_index_path, style: 'color:#FFFFFF;' %></div>
</div>