<p id="notice"><%= notice %></p>
<!--
 <h1>Classes</h1>

<table>
  <thead>
    <tr>
      <th>Subject title</th>
      <th>Subject code</th>
      <th>Units</th>
      <th>Day</th>
      <th>Time start</th>
      <th>Time end</th>
      <th>Class key</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.subject_title %></td>
        <td><%= subject.subject_code %></td>
        <td><%= subject.units %></td>
        <td><%= subject.day %></td>
        <td><%= subject.time_start %></td>
        <td><%= subject.time_end %></td>
        <td><%= subject.class_key %></td>
        <td><%= link_to 'Show', subject %></td>
        <td><%= link_to 'Edit', edit_subject_path(subject) %></td>
        <td><%= link_to 'Destroy', subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

-->
<div class="card-deck mb-3 mx-auto">

<% @subjects.each do |subject| %><br>
<div class="card bg-light mb-3 " style="max-width: 30rem; min-width: 20rem">
 <div class="card-header bg-primary text-white h5"><br />
        <%= subject.subject_code %>
  </div>
<div class="card-body">
<div><%= subject.subject_title %> </div>
<div>Units: <%= subject.units %></div>
<div><%= subject.day %> Insert Time Here </div>
</div>
<div class="card-footer"><%= link_to 'Show', subject %></div>
</div>
<% end %>

<div class ="card bg-primary mb-3 " style="max-width: 30rem; min-width: 20rem; min-height:10rem">
 <div class="card-body ">

 </div>
<div class="card-footer text-white h5"><%= link_to 'Add Class', new_subject_path, style: 'color:#FFFFFF;' %></div>
</div>



</div>