<h3><%= @subject.subject_code %>: <%= @subject.subject_name %></h3>

<p>
  Section: <%= @subject.section %> <br />
  Units: <%= @subject.units %> <br />
  Schedule: <%= @subject.day %> <br />
  Time: <%= @subject.time_start.strftime("%I:%M %p") %> - <%= @subject.time_end.strftime("%I:%M %p") %> <br />
  <% if student_signed_in? %>
    Teacher: <%= @subject.teacher.first_name %> <%= @subject.teacher.last_name %> <br />
    <%= link_to 'Check Attendance', classlists_path(@classlist) ,class: "btn btn-primary", style: "width: 15rem" %>
  <% else %>
    Class Key: <%= @subject.class_key %><br />
  <% end %>
  <%= button_to 'Print Summary', class: "btn btn-primary", style: "width: 5rem" %>
</p>


<% if teacher_signed_in? %>
  <%= link_to 'Edit', edit_subject_path(@subject) %> |
<% end %>
<%= link_to 'Back', subjects_path %>