<h3><%= @subject.subject_code %>: <%= @subject.subject_name %></h3>

<p>
  Section: <%= @subject.section %> <br />
  Schedule: <%= @subject.day %> <br />
  Time: <%= @subject.time_start.strftime("%H:%M:%p") %> - Time end: <%= @subject.time_end.strftime("%H:%M:%p") %>
  <% if student_signed_in? %>
    Teacher: <%= @subject.teacher.first_name %> <%= @subject.teacher.last_name %>
  <% end %>
</p>

<!--
<p>
  Units: <%= @subject.units %>
</p>
-->

<p>
  Class key: <%= @subject.class_key %>
</p>

<% if teacher_signed_in? %>
  <%= link_to 'Edit', edit_subject_path(@subject) %> |
<% end %>
<%= link_to 'Back', subjects_path %>
