<%= form_for(classlist) do |f| %>
  <% if classlist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(classlist.errors.count, "error") %> prohibited this classlist from being saved:</h2>

      <ul>
      <% classlist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p id="notice"><%= notice %></p>

Today is <%= Time.current.strftime("%B %d, %Y") %>
<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Present</th>
      <th>Absent</th>
      <th>Late</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% Student.all.each do |student| %>
      <tr>
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <td><%= student.id_number %></td>


<td>
   <div class="field">
    <%= f.label :present %>
    <%= f.label :present, "Yes", :value => "true"  %>
    <%= f.radio_button :present, true %>
    <%= f.label :present %>
    <%= f.label :present, "No", :value => "false" %>
    <%= f.radio_button :present, false, :checked => true %>
  </div>
</td>


<td>
   <div class="field">
    <%= f.label :absent %>
    <%= f.label :absent, "Yes", :value => "true"  %>
    <%= f.radio_button :absent, true %>
    <%= f.label :absent %>
    <%= f.label :absent, "No", :value => "false" %>
    <%= f.radio_button :absent, false, :checked => true %>
  </div>
</td>

<!-- <td>
<div>
  <%= f.label :present, value: false %>
  <%= f.radio_button :present, true, :checked => true, :value => false %>
</div>
</td>

<td>
<div>
  <%= f.label :absent, value: false %>
  <%= f.radio_button :absent, true, :value => true%>
</div>
</td> -->
<!-- <tr>
<td><%= f.radio_button :present, 'Present', :checked => true %> 
  <%= label :present, 'Present' %>
</td>
<td>  <%= f.radio_button :absent, 'Absent' %>
  <%= label :absent, 'Absent' %>
</td>
</tr>
 -->
<!-- 
<td>
   <div class="field">
    <%= f.radio_button(:present, "present") %>
    <%= f.label(:present, "PRESENT") %>
    <%= f.radio_button(:absent, "absent") %>
    <%= f.label(:absent, "ABSENT") %>
  </div>
</td> -->

 <td>
    <div class="field">
    <%= f.datetime_select :late %>
  </div>
</td>

        <!-- <td><%= classlist.present %></td> -->
        <td><%= classlist.total %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- 
  <div class="field">
    <%= f.label :student %>
    <%= f.text_field :student %>
  </div>
 --><!-- 
  <div class="field">
    <%= f.label :present %>
    <%= f.date_select :present %>
  </div>
 -->
<!-- 
  <div class="field">
    <%= f.label :total %>
    <%= f.number_field :total %>
  </div> -->

  <div class="actions">
    <%= f.submit %>
  </div>


<% end %>
