<p id="notice"><%= notice %></p>

<h1>Classlists</h1>
Today is <%= Time.current.strftime("%B %d, %Y") %>
<table>
  <thead>
    <tr>
      <th>Student</th>
      <!-- <th>Present</th> -->
      <th>Late</th>
      <th>Absent</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @classlists.each do |classlist| %>

    <% Student.all.each do |student| %>
      <tr>
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <td><%= student.id_number %></td>
        <td><%= classlist.student %></td>
        <!-- <td><%= classlist.present %></td> -->
        <td><%= classlist.late %></td>
        <td><%= classlist.absent %></td>
        <td><%= classlist.total %></td>
        
      </tr>
      <% end %>
      <tr>
        <td>Created: <%= time_ago_in_words(classlist.created_at) %></td> <br />
        <td><%= link_to 'Edit', edit_classlist_path(classlist) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', subjects_path %>
